
#bg{
    position: relative;    
    margin-right: auto;
    margin-left: auto;
    width: 800px;
    height: 600px;
    background-image: url("images/bg.png");
}
#hero{
    position: absolute;
    width: 35px;
    height: 54px;
    background-image: url("images/hero.png");
    background-position-x: 0px;
    bottom: 0%;
    left: 400px;
   
}


#enemy{
    position: absolute;
    width: 45px;
    height: 54px;
    background-image: url("images/enemy.png");
    background-position-x: 0px;
    left:0px;
    top: 0px;
}